$font-main-color: #fff;
$font-logo-type: "Rock Salt", cursive;

body {
  color: $font-main-color;
  background-image: url("../images/darkTextureBG.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: left top;
}

#animatedBG {
  position: absolute;
  bottom: 15vh;
  z-index: -1;
  height: 90vh;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
}

.logo {
  margin: 20vh 0 8vh 0;
  font-family: $font-logo-type;
  font-size: calc(35px + 2vw);
}
