$color-main-accent: #0c36aa;
$gradient: linear-gradient(45deg, #039cd5, #1545cb, #6c0cb4, #010520);
$color-first-accent: #057fc5;
$color-second-accent: rgb(226, 226, 226);

html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
}
.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}
header {
  background-color: $color-main-accent;
  background-image: $gradient;
  min-height: 30vh;
}
.iconStyle {
  a,
  a:active,
  a:hover,
  a:visited {
    color: #fff;

    img {
      height: 25px;
      margin-right: 20px;
    }
  }
  a,
  a:visited {
    opacity: 0.6;
  }
  a:hover,
  a:active {
    opacity: 1;
  }
  p {
    margin: 0;
    font-size: 27px;
    position: relative;
    top: 7px;
  }
}
nav {
  background-color: $color-main-accent;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.sticky + #main-content {
  padding-top: 56px;
}
#main-content {
  min-height: calc(70vh - 186px);
}
#about,
#projects,
#contact {
  position: relative;
  top: -96px;
}
section {
  padding: 40px 0;
}
.sectionTitle {
  font-size: 2.2rem;
  font-weight: bold;
  position: relative;
  right: 20px;
  color: $color-main-accent;
}
.darkSection {
  background-color: $color-second-accent;
}
.headshot {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.skillIcons {
  font-size: 37px;

  i {
    margin: 0 6px;
    opacity: 0.7;
  }

  i:hover {
    color: $color-main-accent;
    opacity: 1;
  }
}
.projectLink {
  cursor: pointer;
}
.card-title {
  margin-bottom: 0;
}
.staticGif {
  position: absolute;
}
.staticGif:hover {
  opacity: 0;
}
.contactBtn,
.codeBtn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contactBtn {
  background-color: $color-main-accent;
}
.contactBtn:hover {
  background-color: darken($color-main-accent, 8%);
}
.codeBtn {
  background-color: $color-first-accent;
}
.codeBtn:hover {
  background-color: darken($color-first-accent, 8%);
}
.buttonLink a {
  text-decoration: none;
}
footer {
  background-color: $color-main-accent;
  min-height: 50px;
}
.footerPara {
  min-height: 50px;
  opacity: 0.75;
  font-size: 14px;
}
.demoGif {
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-width: 767px) {
  .sectionTitle {
    right: 0;
  }
}
